<div class="container">

    <mat-card class="card">
        <mat-card-header>
        <mat-card-title class="text">Hello World</mat-card-title>
        <mat-card-subtitle class="text">Please select button below to be redirected.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
        <a routerLink="landing">
        <button mat-raised-button style="background-color: #C83E4D; color: #F3F6F6;">Continue</button>
        </a>
        </mat-card-actions>
    </mat-card>

</div>
